services:
  db:
    image: postgres:17
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init-scripts/:/docker-entrypoint-initdb.d/
    networks:
      - dev-promo-bot-network
    ports:
      - '5432:5432'
  pgadmin:
    image: dpage/pgadmin4:9.8
    ports:
      - 5050:80
    environment:
      # Required by pgAdmin
      PGADMIN_DEFAULT_EMAIL: demo@example.com
      PGADMIN_DEFAULT_PASSWORD: secret

      # Don't require the user to login
      PGADMIN_CONFIG_SERVER_MODE: 'False'

      # Don't require a "master" password after logging in
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    networks:
      - dev-promo-bot-network
  bot:
    depends_on:
      - db
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    command: npm run dev
    networks:
      - dev-promo-bot-network
    volumes:
      - './src:/usr/src/src'
networks:
  dev-promo-bot-network:
    driver: bridge
volumes:
  postgres_data:
